[flake8]

inline-quotes = '
max-line-length = 79
ignore = ANN101, D104, ANN102, ANN002, ANN003, ANN204, W503
exclude =
    .git,
    __pycache__,
    .pytest_cache,
    build,
    dist,
    venv,
    migrations/versions/*